





{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Login to your  account</h4>
        </div> 
         <form action="{% url "reset-user-password" uidb64 token %}" method='post'>
            {% csrf_token %}
          {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input
              type="text"
              name="p1"
              placeholder="username"
                
              class="form-control form-control-sm"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="p2"
              placeholder="Password"
              class="form-control form-control-sm"
              
            />
          </div>
          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>

            <span>Don't have an account  ?       
            <a href="{% url 'register'%}">register</a></span>      
              <br>
             
  
      </div>

  





      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
 
{% endblock content %}











{% comment %} 

{% extends 'base_auth.html' %}


{% block content %}


<div class="card">


<div class="card-body">
      
      {% include "partials/_messages.html" %}


      <form action="{% url "reset-user-password" uidb64 token %}" method='post'>
            {% csrf_token %}
            <input type="text" name="p1" id="">
            <input type="text" name="p2" id="">
            <input type="submit" value="submit">
      </form>


</div>




</div>
{% endblock content %}


 {% endcomment %}







